Register

<form action="<%= api_users_url %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<div>User Name<input type="text" name="user[username]"></div>
<div> Your password<input type="password" name="user[password]"
></div>
<!-- <div>Confirm Password<input type="password" name="user[password_confirmation]"> </div> -->
<div><input type="submit" value="Join"></div>

</form>

</br>
Log In

<form action="<%= api_session_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<div>User Name<input type="text" name="user[username]"></div>
	<div>Password<input type="password" name="user[password]"></div>
	<div><input type="submit" value="Log In"></div>

</form>