<html>

<h1>Welcome to Grocerapp</h1>

<p>Is windows: <%= is_a_windows? %></p>
<p>Browser: <%= put_request_env %></p>
<p>Is mobile device: <%= mobile_device? %></p>


<a href="api/users/new"> Log in page </a>
</html>
