<%= render "shared/navigation" %>
<div class="container">
  <div id="content"> </div>
</div>
<script>
	App.current_user = new App.Models.Current_user({
		id: <%= current_user.id %>
  });

  App.current_user.fetch({
  	success: function(response){console.log("success")},
  	error: function(response){console.log("error")} 
  });
</script>

<script>
	$(function(){
		App.initialize();
	});
</script>