Register
<form action="" type="post">

<div>User Name<input type="text"></div>
<div> Your password<input type="password"></div>
<div>Confirm Password<input type="password"> </div>
<div><input type="submit" value="Join"></div>

</form>