<html>
	

	<div id='pc-content-wrapper'>
		<div id='pc-content'>

				<div id='bookmarks'> </div>
				<p><a href="/#/recipes">Recipes </a></p>
				<p><a href="/#/ingredientNew">BBIngredient </a></p>
				<p><a href="/#/fridge">Fridge </a></p>
				<p><a href="/#/recipeNew">Start a Recipe </a> </p>

		</div>
	</div>
	<footer class='footer'> </footer>
</html>