<nav class="navbar">

	<li class='nav-li '><a class="btn btn-md btn-primary" href="/#/recipes/page/1">Find Recipes </a></li>
	<li class='nav-li'><a class="btn btn-md btn-primary" href="/#/cookbookRecipes">Cookbook</a></li>
	<li class='nav-li'><a class="btn btn-md btn-primary" href="/#/fridge">Fridge </a></li>
	<li class='nav-li'><a class="btn btn-md btn-primary" href="/#/recipeNew">Author a Recipe </a> </li>

	<li class='logout-button'><%= button_to "Log out", api_session_url, :method => :delete %></li>
	<li class='home-li'><a class="btn btn-md btn-primary" href="/#/">Home </a></li>

</nav>