<header>
	<p class='pretty-text'> Favorited Recipes </p>
</header>
<div class='pre-recipe'></div>
<div class='row'>
	<div class="col-md-4">	
		<h3> Recipe </h3>
	</div>
</div>
<div id='recipe-list'>
	<% if (collection.models.length === 0){ %>
		<p> You do not have any recipes that you have favorited yet. </p>
	<% } %>
	<% collection.models.forEach(function(model){ %>
		<div class='row'>
			<div class="col-md-4">	
				<% recipe = App.Collections.recipes.findWhere({id: model.get("recipe_id")}); %>
				<a href='#/cookbookRecipes/<%=model.get("cookbook_recipe_id")%>' >
					<%= recipe.escape("dishname") %>
				</a>
			</div>
			<div class="col-md-6">
			</div>
			<div class="col-md-2 col-lg-2">
			<% var id = model.escape('cookbook_recipe_id'); %>
			<button id="<%=id%>" class="btn btn-default removal">
				Remove
			</button>
			</div>
		</div>


		<div class='post-recipe'></div>

	<% }); %>
</div>
