#recipe-list, .centered-text{
  text-align: center;
  overflow: hidden;
}

#small-cont{
	height: 30px;
	background-color: yellow;
}

.dishname{

}
.description{
	overflow-wrap: break-word;
}

.no-rating{

}

.search-bar{
	background-color: white;
}
.dish-link{
	color: black;
}

.post-recipe{
  border-bottom: 2px dashed #443029;

}

#recipe{
  border-bottom: 2px solid #56a8de;

}



.rating{

}

.pretty-text{
	font-size: 40px;

	font-family: 'Pacifico';
}