#check{
	width: 44px;
	height: 17px;
	display: inline-block;
	border: black;
	border-style: solid;
	border-width: 1px;
	background-color: rgb(242, 242, 242);
	padding: 1px 6px;
	text-align: center;
	font: -webkit-small-control;
	margin-left: 1.8px;
	cursor: default;
}
.fixed-entry{
	height: 50px;
	border-style: solid;
	border-color: black;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.first{
	border-left-width: 3px;
}
.last{
	border-right-width: 3px;
}
#check:active{
	background-color: rgb(233, 233, 233);
}

.recipe-row{
	border-width: 0;
	background-color: rgb(242, 242, 242);
}

.editable{
	border-width: 2px;
	background-color: white;
}

.edit{
	width: 75px;
	cursor: pointer;
	border-width: 1px;
	border-radius: 3px;
	border-style: solid;
	padding: 1px;
	background-color: rgb(237, 242, 237);
}

.recipe-title{
	text-align: center;
	font-size: 30px;
	border-bottom: antiquewhite;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.edit:hover{
	background-color: rgb(152, 152, 242);
}

.ingredient-row{
	/* 
	TODO: set to transparent with no border
	*/
	background-color: rgb(242, 242, 242);

}

.small-td{
	width: 90px;
}

.medium-td{
	width: 192px;
}

.long-td{
	width: 423px;
}

p.fill{
	width: 90px;
	margin-right: 0;
}


.no-style{
	float: left;
	list-style-type: none;
	margin-left: 5px;
}