<% var recipe = recipe %>
<% if( recipe.endorsements.models.length > 0){ %>
<% var endorsements = recipe.endorsements.models; %>
<% App.ends = endorsements; %>
	<% recipe.endorsements.forEach(function(endorsement){ %>
		<%= JST['endorsements/show']({endorsement: endorsement}) %>
	<% }); %>
<% } else { %>
	<p> No Endorsements Yet </p>
<% } %>