<div class="row">
	<li class='no-style'>
		<label>Name</label>
		<input class="recipe-ingredient-name" name='recipe_ingredients[<%=i%>][name]'>
		<label>Amount</label>
		<input name='recipe_ingredients[<%=i%>][quantity]'>
		<label>Units</label>
		<input name='recipe_ingredients[<%=i%>][units]'>
		<label>Optional?</label>
		<input type="checkbox" name='recipe_ingredients[<%=i%>][optional]'>
		<button class='remove-ingredient'>-</button>
	</li>
</div>