<li>
	<label>Name</label>
	<input name='recipe_ingredients[<%=i%>][ingredient_attributes[name]'>
	<label>Amount</label>
	<input name='recipe_ingredients[<%=i%>][quantity]'>
	<label>Units</label>
	<input name='recipe_ingredients[<%=i%>][units]'>
	<label>Optional?</label>
	<input type="checkbox" name='recipe_ingredients[<%=i%>][optional]'>
</li>