<% collection.models.forEach(function(model){ %>
	<h3> Dish: </h3>
	<%= model.attributes.dishname %>
	<p> Description: 
	<%= model.attributes.description %>
	</p>
	<%= model.attributes.rating %>
<% }); %>
