<div class='recipe-page'>
<header>
		<input type="text" id="formInput"></input>
		<a href="#/recipes/names/" id="input-search" class="btn btn-default">Search</a>
		<select name='searchable-params'>
			<option value='name'>Name</option>
			<option value='rating'>Rating</option>
			<option value='author'>Author</option>
			<option value='ingredients'>Ingredients</option>
		</select>

	<p class='pretty-text'> All Recipes </p>
</header>

<div id='paginator'>
</div>

<div class='row centered-text'>

	<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">	
		<h3> Check it out </h3>
	</div>
	<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">	
		<div class='description'>
			<h3> Description: </h3>
		</div>
	</div>
	<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">	
		<div class='Rating'>
			<h3> Rating: </h3>
		</div>
	</div>
</div>

<div id='recipes'>

</div>
</div>