<form>
	<input type="text" id="formInput"></input>
	<input type="button" id="search" value="search"> by </input>
	<select name='searchable-params'>
		<option value='rating'>Rating</option>
		<option value='author'>Author</option>
		<option value='name'>Name</option>
	</select>
</form>

<% collection.models.forEach(function(model){ %>
	<section id= <%= model.escape("dishname") %> > 
		<h3> Dish: <%= model.escape("dishname") %> </h3>
		<p> Description: 
		<%= model.escape("description") %>
		</p>
		<%= model.escape("rating") %>
	</section>
<% }); %>
				<p><a href="/#/">Home </a></p>

				<p><a href="/#/recipes">Recipes </a></p>
				<p><a href="/#/ingredientNew">BBIngredient </a></p>
				<p><a href="/#/fridge">Fridge </a></p>
				<p><a href="/#/recipeNew">Start a Recipe </a> </p>