<html>
<form action="/api/recipes" method="post">
<label>Dish Name</label>
<input name='recipe[dishname]'>
<span data-msg='dishname'></span>

<br>
<label>Instructions</label>
<textarea name='recipe[instructions]'></textarea>
<span data-msg='instructions'></span>
<br>

<label>Description</label>
<textarea name='recipe[description]'></textarea>
<span data-msg='description'></span>


<br>
<label>Ingredients</label>
<input name='recipe[recipe_ingredients]' id=''>
<input type="submit">
<span data-msg='ingredients'></span>
</form>

</html>
