<html>
<form action="/api/recipes" method="post">
<label>Dish Name</label>
<input name='recipe[dishname]'>
<span data-msg='dishname'></span>
<br>
<label>Instructions</label>
<textarea name='recipe[instructions]'></textarea>
<span data-msg='instructions'></span>

<label>Description</label>
<textarea name='recipe[description]'></textarea>
<span data-msg='description'></span>
<input type="submit">
</form>

</html>
