<table>
  <tbody>

        <tr>
	        <td> <p> <strong>Dish name</strong> </p> </td>
          <td>
          	<input id= dishname class='recipe-row' value=<%= recipe.attributes.dishname %>>
         </td>
          <td>
          	<p id= edit-name class="edit"> Edit dishname</p>
          </td>
        </tr>

        <tr>
	        <td> <p> <strong>Description</strong> </p> </td>
          <td>
          	<textarea id= description class='recipe-row'><%= recipe.attributes.description.trim()%></textarea>
         </td>
          <td>
          	<p id= edit-description class="edit"> Edit description</p>
          </td>
        </tr>

        <tr>
	        <td> <p> <strong>Instructions</strong> </p> </td>
          <td>
          	<textarea id= instructions class='recipe-row'><%= recipe.attributes.instructions %></textarea>
         </td>
          <td>
          	<p id= edit-instructions class="edit"> Edit instructions</p>
          </td>
        </tr>

  </tbody>
</table>
<% console.log(recipe)%>
<% console.log(recipe.attributes)%>

<!-- JST['recipes/recipe_ingredients'] -->