Create a Recipe

<% if @cookbook.recipes.nil? %>
<p>	No Recipes In Your Cookbook Just Yet </p>
<% else %>
	<%= @cookbook.recipes.each do |recipe| %>
		<li><%= recipe %></li>
	<% end %>
<% end %>



<li> Manage Fridge
	<p>	<%= link_to "Ingredients", api_ingredients_url, :method => :get %></p>
</li>
<li> Help </li>
<li> Settings </li>
<li> Manage Recipes 
</li>
<li> Search 
	<p>	<%= link_to "Recipes", api_recipes_url, :method => :get %></p>
</li>
<li> Notifications  </li>
