
	<label>Name</label>
	<input class="user_ingredient_name" name='user_ingredient[name]'>
	<label>Amount</label>
	<input class="user_ingredient_quantity" name='user_ingredient[quantity]'>
	<label>Units</label>
	<input class="user_ingredient_units" name='user_ingredient[units]'>

	<a href="#submit" id="submit-recipe" class="btn btn-default">Submit</a>

<br>

<header>
		<input type="text" id="formInput"></input>
		<a href="#search"class="btn btn-default">Find Ingredients</a>
	<p class='pretty-text'> Your Ingredients </p>
</header>
<br>

<div id='user-ingredient-container'>
	<div class='row centered-text'>
		<div class='col-md-3'>
			<label class='ingredient-label'>Name</label>
		</div>
		<div class='col-md-3'>
			<label class='ingredient-label'>Quantity</label>
		</div>
		<div class='col-md-3'>
			<label class='ingredient-label'>Units</label>
		</div>
	</div>
	<% App.current_user.user_ingredients.forEach(function(ingredient){ %>
		<div class='row centered-text'>
			<div class='col-md-3'>
				<%= ingredient.escape("name") %>
			</div>
			<div class='col-md-3'>
				<%= ingredient.escape("quantity") %>
			</div>
			<div class='col-md-3'>
				<%= ingredient.escape("units") %>
			</div>
		</div>
	<% }); %>
</div>